.contact-form-container {
  height: 100vh; /* Make the container cover the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   /* Add the background color */
}

.contact-form-container form {
  width: 80%; /* Adjust the width of the form */
  max-width: 400px; /* Maximum width for larger screens */
}

.contact-form-container h2 {
  margin-bottom: 20px;
  margin-top: 60px;
  color:#f3f3f3

}

.form-group {
  margin-bottom: 30px;
  width: 100%; /* Make the form groups take up the full width */
  display: flex; /* Use flexbox to align label and input/textarea */
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center items vertically */
  
}

.form-group label {
  display: inline-block;
  font-weight:400;
  width: 30%; /* Adjust the width of the label column */
  margin-right: 8px;
  margin-left:0px;
  color:#f3f3f3
}


.form-group textarea {
  flex:600px; /* Take remaining space */
  padding: 40px;
  border: 1px solid #faf7f7;
  border-radius: 1px;
  width:80px;
  
}
.form-group input{
  padding: 10px;
  width:900px;
}
button[type="submit"] {
  background-color: #000000;
  color: #fcfcfc;
  padding: 10px 20px;
  border: none;
}
body {
  background-color: rgba(68, 80, 106, 0.8); /* Set background color for the entire webpage */
}
.footer {
  background-color: black;
  color: #f3f3f3;
  padding: 30px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: auto;
  position: fixed; /* Adjust positioning */
  left: 1px;
  right: 90px;
  bottom: 0;
}
.contact-form-container caption {
  margin-top: 0px; /* Adjusted margin-top to move "CONTACT US" up */
  color: white;
  font-size: 24px; /* Adjust the font size */
  font-weight: bold;
}
.contact-us {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.contact-us h2 {
  margin-top: 0; /* Remove default margin for h2 */
}